body {
    background-image: linear-gradient(#187f99, #5eccb6);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
p{
    font-family: "Nexa Heavy";
    font-size: 25px;
    color: #187f99;
}
.container {
    display: grid;
    place-items: center;
    grid-template-rows: 30% 30% 30%;
    padding-top: 5px;
    height: 30vh;
    width: 25%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 4px 6px 4px 3px rgba(0, 0, 0, 0.2);
}
#loginBtn{
    font-family: "Nexa Heavy";
    font-size: 20px;
    color: white;
    box-shadow: 4px 6px 4px 3px rgba(0, 0, 0, 0.05);
    background-color: #5eccb6;
}
.container button {
    font-family: "Nexa Heavy";
    font-size: 20px;
    color: white;
    margin: 10px;
    cursor: pointer;
    width: 75%;
    background-color: #5eccb6;
    text-align: center;
    box-shadow: 4px 6px 4px 3px rgba(0, 0, 0, 0.05);

}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
}

.modal-content {
    border-radius: 10px;
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    position: relative;
}

.close {
    position: absolute;
    top: 3px;
    right: 8px;
    font-size: 20px;
    cursor: pointer;
}
button:hover{
    background-color: #14657a;
    width: 78%;
    height: 83%;
}
#loginBtn:hover{
    background-color: #14657a;
    width: 100%;
    height: 100%;
}
input, button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.footnote{
    display: absolute;
    margin-top: 80%;
    height: 8%;
    background-color: #4a4a4a;
    width: 100%;
    text-align: center;
}
.footnote p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    color: white;
}